$borderColor: #ccc;
$padding: 10px;
$width: 85%;
@import "../../Scss/measure";

.chooseFileSection {
  display: grid;

  gap: 30px;
  @include responsive728 {
    grid-template-columns: 1fr 1fr;
  }
}

.file-input-container {
  border: 1px solid $borderColor;
  padding: $padding;
  width: $width;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 5px;

  label {
    padding-bottom: 10px;
    font-weight: 600;
  }

  input[type="file"] {
    display: none;
    width: 90%;
  }

  button {
    padding: 5px 10px;
    cursor: pointer;
  }

  img {
    max-width: 200px;
    max-height: 200px;
    margin-top: 10px;
  }
}
